@import '../../../styles/variables';

:host {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  z-index: 2;
}

header {
  padding: 0 1.5rem;
  height: $headerHeight;
  // background: $colorPrimary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @media (max-width: 1024px) {
    padding: 0 1rem;
  }
}

.refresh {
  background: lighten($colorPrimary, 10);
  box-shadow: 0 0 2rem 0.5rem rgba(darken($colorPrimary, 30), 0.5);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.75rem 4rem;
  position: relative;

  &:focus,
  &:active {
    outline: 0.2rem solid #eede25;
  }

  &__progress {
    position: absolute;
    width: 0;
    background-color: lighten($colorPrimary, 20);
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: width 1s linear;

    &--refreshing {
      background-color: lighten($colorPrimary, 10);
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.35) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
      background-size: 20px 20px;
      animation: candystripe 1s linear infinite;
      width: 100% !important;
      transition: width 0s linear;
    }
  }
  

  &__label {
    z-index: 2;
    position: relative;
  }
}

@keyframes candystripe {
  to {background-position: 20px 0;}
}
