@import '../../../styles/variables';

:host {
  display: block;
  width: 100%;
  z-index: 2;
}

header {
  padding: 0 1.5rem;
  height: $headerHeight;
  // background: $colorPrimary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @media (max-width: 1024px) {
    padding: 0 1rem;
  }
}
