@use 'sass:color';
@use '../../../styles/variables' as vars;
@use '../../../../node_modules/@material/animation' as mdc;

$chartHeight: 15rem;

:host {
  position: fixed;
  bottom: 1.5rem;
  transform: translateY($chartHeight + 3rem);
  left: 1.5rem;
  right: 1.5rem;
  height: 15rem;
  background: #fff;
  border: 1px solid color.mix(#bbb, vars.$colorPrimary, 85%);
  box-shadow: 0.3rem 0.3rem 1rem rgba(#000, 0.5);
  transition: mdc.exit-temporary(transform, 175ms);
  display: flex;

  &.chart--visible {
    transition: mdc.enter(transform, 175ms);
    transform: translateY(0);
  }
}

.chart {
  flex: 1;
  margin: 0.75rem 1rem;
  display: flex;
  flex-direction: column;

  &__container {
    flex: 1;
    // width: 500px;
    // height: 300px;
  }
}
.header {
  display: flex;

  &__location-name {
    flex: 1;
    margin: 0;
    font-size: 1rem;
    text-transform: uppercase;
    color: color.mix(#777, vars.$colorPrimary, 80%);
  }

  &__actions {
    width: 2rem;

    .btn--icon {
      background: transparent;
      border: 0;
    }
  }
}
