@import '../../../styles/variables';

:root {
    --mapBackgroundRatio: 9/16;
}

:host {
    position: relative;
    display: block;
    background: url($mapBackground);
    background-size: cover;
    margin-top: 1vw;
    width: 98vw;
    height: calc(98vw * var(--mapBackgroundRatio));
    box-shadow: 0 0 2rem 0.5rem rgba(darken($mapBackgroundColor, 80), 0.35);

    @media (max-width: $breakpointMobile) {
        height: auto;
    }
}
