@if (!loading()) {
  <div
    class="temperature-box"
    >
    <header>
      <h2>🌡<span class="label">{{location().name}}</span></h2>
    </header>
    <div class="temperatures">
      <div class="temperature temperature--primary">
        <span class="value">{{location().lastMeasurmentValue | toFixed}}</span><span class="unit">°C</span>
      </div>
      @if (location().minimalMeasurmentValue !== null) {
        <div
          class="temperature temperature--minimal"
          >
          <span class="value">Min: {{location().minimalMeasurmentValue | toFixed}}</span><span class="unit">°C</span>
        </div>
      }
    </div>
    @if (location().updatedAt | isLocationOutdated) {
      <div
        class="footer footer--warning footer--warning-outdated"
        >
        <span>Opóźnione: {{ location().updatedAt | relativeTime }}</span>
      </div>
    }
  </div>
} @else {
  <termo-spinner />
}
<div class="arrow"></div>
