@import '../../../styles/variables';

:host {
  position: absolute;
  background: #fff;
  border: 1px solid mix(#aaa, lightblue, 80%);
  box-shadow: 0.3rem 0.3rem 1rem rgba(#000, 0.5);
  padding: 0.4rem 1rem;
  overflow: hidden;
  width: 13rem;
  text-align: center;
}

.arrow {
  $size: 15px;
  position: absolute;
  width: $size;
  height: $size;
  bottom: -1*$size/2;
  right: -1*$size/2;
  background: $colorPrimary;
  transform: rotate(0.125turn);
}

header h2 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #777;
}

.temperature{
  font-weight: 600;
  margin-bottom: 0.5rem;

  &--primary {
    color: $colorPrimary;
    font-size: 3rem;
  }
  &--minimal {
    border-top: 1px solid #555;
    width: 9rem;
    margin: 0.2rem auto 0.5rem auto;
    padding-top: 0.2rem;
    color: #555;
  }
}

.footer {
  font-size: 0.88rem;
  color: #777;
  
  &--warning {
    &::before {
      content: '⚠️'
    }
  }
}